## @file
#  Configuration file for OpenSSL program.
#
#  @copyright
#  INTEL CONFIDENTIAL
#  Copyright (C) 2024 Intel Corporation.
#
#  This software and the related documents are Intel copyrighted materials,
#  and your use of them is governed by the express license under which they
#  were provided to you ("License"). Unless the License provides otherwise,
#  you may not use, modify, copy, publish, distribute, disclose or transmit
#  this software or the related documents without Intel's prior written
#  permission.
#
#  This software and the related documents are provided as is, with no
#  express or implied warranties, other than those that are expressly stated
#  in the License.
#
#  @par Specification
#
##

[ ca ]
default_ca                     = CA_default

[ CA_default ]
dir                            = ./WorkspaceCA
database                       = $dir/Index.txt
new_certs_dir                  = $dir/NewCerts
serial                         = $dir/Serial
default_md                     = default
policy                         = policy_match

[ policy_match ]
countryName                    = match
stateOrProvinceName            = match
organizationName               = match
organizationalUnitName         = optional
commonName                     = supplied
emailAddress                   = optional

[ req ]
default_bits                   = 3072
default_keyfile                = privkey.pem
distinguished_name             = req_distinguished_name
attributes                     = req_attributes
x509_extensions                = v3_ca

[ req_distinguished_name ]
countryName                    = Country Name (2 letter code)
countryName_default            = US
countryName_min                = 2
countryName_max                = 2

stateOrProvinceName            = State or Province Name (full name)
stateOrProvinceName_default    = CA

localityName                   = Locality Name (eg, city)
localityName_default           = SC

0.organizationName             = Organization Name (eg, company)
0.organizationName_default     = Intel

organizationalUnitName         = Organizational Unit Name (eg, section)
organizationalUnitName_default = Client

commonName                     = Common Name (e.g. server FQDN or YOUR name)
commonName_default             = TestCommonName
commonName_max                 = 64

emailAddress                   = Email Address
emailAddress_default           = sample@intel.com
emailAddress_max               = 64

[ req_attributes ]
challengePassword              = A challenge password
challengePassword_min          = 4
challengePassword_max          = 20

[ v3_ca ]
# Extensions for a typical Root CA.
subjectKeyIdentifier           = hash
authorityKeyIdentifier         = keyid:always,issuer
basicConstraints               = critical, CA:true
keyUsage                       = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
# Extensions for a typical intermediate CA.
subjectKeyIdentifier           = hash
authorityKeyIdentifier         = keyid:always,issuer
basicConstraints               = critical, CA:true
keyUsage                       = critical, digitalSignature, cRLSign, keyCertSign

[ usr_cert ]
# Extensions for user end certificates.
basicConstraints               = CA:FALSE
nsCertType                     = client, email
subjectKeyIdentifier           = hash
authorityKeyIdentifier         = keyid,issuer
keyUsage                       = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage               = clientAuth, emailProtection, codeSigning
